header{
    background: linear-gradient(90deg,rgba(0,27,47,1)0%, rgba(0,85,149,1)88%);
    color: white;
    display: flex;  
    justify-content: space-between ; 
    align-items: center;
    height: 15vh;
        img{
        display: flex;
        align-items: center;
        width: 5.5vw;
        height: 10.5vh;   
    }}
 
.boxlogo{
    color: white;
    display: flex;
    width: 23vw;
    align-items: center;
    height: 14vh;
    justify-content: space-evenly;

 }
.boxMenu{
     width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
        color: white;
        font-size: 20px;
        &:hover {
            color: yellow;
        }
    }

}}
.boxInput{
    border: solid  2px white;
    width: 17vw;
    height: 6vh;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    input{
        width: 12vw;
        outline: none;
        background-color: transparent;
        border: none;
        color: white;  
        font-size: 14px;
        &::placeholder{
            color: white;
        }              
    }
    img{
        height: 2vh;
        width: 1.3vw;
    }
}

@media(max-width: 1188px){

    .boxlogo{
        width: 25vw;
        h1{
            font-size: 1.9vw;
        }
        img{
            width: 5vw;
    }
}
    .boxMenu{
        ul{
            font-size: 1.6vw;
        }

}
    .boxInput{
        width: 18vw;
        input{
        &::placeholder{
            font-size:1.2vw;
        }
    }
    }
}

@media (max-width: 768px){
    header{
        height: 25vh;
        flex-direction: column;
        justify-content: space-evenly;
        .boxInput{
            display: none;
        }
        .boxlogo{
            width: 80%;
            h1{
                font-size: 25px;
            }
            img{
                width: 60px;
            }
        }
        .boxMenu{
            width: 100%;
            ul{
                justify-content: space-evenly;
                font-size: 22px ;
            }
        }
    }
}    





