h2{
    padding-top: 50px;
    padding-bottom: 50px;
}



.boxDoados{
    height: 58vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}
.boxBooks{
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
        border: solid 2px  rgba(0, 86, 149, 1);
        width: 15vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
       img{
        width: 30%;
       }
    }
    
}
@media(max-width: 1000px){
    .boxDoados{
        justify-content: space-around;
        
    }

    .boxBooks{
        
        article{
            width: 200px;
            height: 230px;
        }
    }
}

@media(max-width: 520px){
    .boxBooks{
        flex-wrap: wrap;
        gap: 10px;
        height: 560px;
    }

    .boxDoados{
        height: auto;
        padding-bottom: 20px;
    }
}

